<div class="user-modal">
    <div class="modal-header">
        <img ng-src="{{ctrl.user.picture}}"> {{ctrl.user.fname}} {{ctrl.user.lname}}
    </div>
    <div class="modal-body map-canvas">
        <a href="javascript:;">Adavnced form</a>
    </div>
    <div class="modal-footer modal-bottom-navigation">
        <a class="btn btn-info" href="/auth/logout" ng-click="$event.stopPropagation()"><span class="glyphicon glyphicon-off"></span> Logout</a>
        <button class="btn btn-warning cancel" type="button" ng-click="ctrl.cancel()">Cancel</button>
    </div>
</div>