<div class="user-top" ng-if="ctrl.user.authenticated">
    <div class="text-center" ng-click="ctrl.userClick()"><img ng-src="{{ctrl.user.picture}}"></div>
    <!--<div class="text-center">Hello {{ctrl.user.fname}} {{ctrl.user.lname}} <a href="/auth/logout" ng-click="$event.stopPropagation()">logout</a></div>-->
</div>
<div class="user-top text-right pure-menu-link" ng-if="!ctrl.user.authenticated">
        <a href="javascript:void(0)" sign-in>Sign Up</a>
        <a href="javascript:void(0)" sign-in="login">Log In</a>
</div>