@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../bower_components/pure/pure.css";
@import "../../bower_components/pure/grids-responsive.css";
@import "./purecss-tpl";
@import "../../bower_components/angular-ui-grid/ui-grid.css";


$main-bg-color: #00C3BF;
$main-bg-text-color: #FFF;

html, body {
  height: 100%;
}

.modal-bottom-navigation {
  .btn.cancel, .btn.back {
    float: left;
  }
}

.angular-google-map-container {
  height: 400px;
}

.map-canvas {
  z-index: 0;
}

.map-search {
  width: 70%;
  margin-top: 10px;
}

.pac-container {
  z-index: 9999;
}

.modal-dialog {
  color: #000;
}

.loader {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #fff url(../img/hex-loader.gif) center no-repeat;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
}

.error-msg {
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.postTaskModal {
  .modal-body {
    min-height: 300px;
  }
}

.home-menu li a.facebook-btn {
  background-color: #2E5A94;
  color: #fff;
}

.search-task-home {
  cursor: pointer;

  &:hover {
    background-color: $main-bg-color;
  }
}

.content-wrapper.pages {
  top: 60px;
}

.grid-user {
  img {
    height:27px;
    margin-right:5px;
    float:left;
  }
}

.my-tasks {
  .upload-one-btn {
    display: inline-block;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;

    a {
      height:30px;
      font-size:60%;
      padding: 5px;
      text-decoration: underline;
    }
  }
}