@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../bower_components/pure/pure.css";
@import "../../bower_components/pure/grids-responsive.css";
@import "./purecss-tpl";
@import "../../bower_components/angular-ui-grid/ui-grid.css";
@import "../../bower_components/ui-select/dist/select.css";


$main-bg-color: #00C3BF;
$faild-color: #f2dede;
$main-bg-text-color: #FFF;

html, body {
  height: 100%;
}

.modal-bottom-navigation {
  .btn.cancel, .btn.back {
    float: left;
  }
}

.angular-google-map-container {
  height: 400px;
}

.map-canvas {
  z-index: 0;
}

.map-search {
  max-width: 70%;
  margin-top: 10px;
}

.pac-container {
  z-index: 9999;
}

.modal-dialog {
  color: #000;
}

.modal-body {
  &.map-success {
    background-color: $main-bg-color;
  }

  &.map-failed {
    background-color: $faild-color;
  }
}

.loader {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #fff url(../img/hex-loader.gif) center no-repeat;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
}

.error-msg {
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.postTaskModal {
  .modal-body {
    min-height: 300px;
  }
}

.home-menu {
  background-color: rgba(0, 195, 191, 0.7);
  li a.facebook-btn {
    background-color: #2E5A94;
    color: #fff;
  }
}

.search-task-home {
  cursor: pointer;

  &:hover {
    background-color: $main-bg-color;
  }
}

.content-wrapper {
  top: 600px;
  &.pages {
    top: 60px;
  }
}

.grid-user {
  img {
    height:27px;
    margin-right:5px;
    float:left;
  }
}

.my-tasks {
  .upload-one-btn {
    display: inline-block;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;

    a {
      height:30px;
      font-size:60%;
      padding: 5px;
      text-decoration: underline;
    }
  }
}

.taskPostDone {
  background-color: $main-bg-color;
  text-align: center;

  h2 {
    margin-top:100px;
    color: $main-bg-text-color;
  }

  .btn {
    padding: 15px 30px;
    font-size: 130%;
    margin:10px;
  }
}

// .content.page {
//   max-width:1024px;
//   margin:0px auto;
//   position:relative;
// }

#gmap-container {
  position: absolute;
  width:100%;
  height:calc(100% - 62px);
  margin-top:62px;
}

.hp-search-wrapper {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  top: 500px;
  height: 100px;
  padding: 30px;
  width: 100%;
  text-align: center;

  .search-task-form {
    position: relative;
    margin: 0px auto;
    max-width: 700px;

    &>div {
      float:left;
    }

    .location-input-wrapper {
      display:inline-block;
      width:45%;
      height:40px;
      #gmap-search {
        width:100%;
        height:100%;
        padding:0px 10px;
        line-height:40px;
        border:0;
        border-right: 1px solid $main-bg-color;
      }
    }


    .ui-select-container {
      display:inline-block;
      width:35%;
      height:40px;
      margin: 0px;
      padding:0;
      border:0;

      .ui-select-match {
          width:100%;
          height:100%;
      }

      .ui-select-toggle {
        height:100%;
        border-radius: 0;
        border:0;
        line-height: 40px;
        padding: 0px 10px;
      }

      .ui-select-search {
        height:100%;
        border-radius: 0;
        border:0;
        line-height: 40px;
        padding:0px 10px;
      }

      .ui-select-choices-row.active>a {
        background-color: $main-bg-color;
      }
    }

    .search-btn-wrapper {
      display:inline-block;
      width: 20%;
      button {
        background-color: $main-bg-color;
        color: #fff;
        border-radius: 0;
        text-transform: uppercase;
        height:40px;
        width: 100%;
      }
    }
  }
}
