@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import "../../bower_components/pure/pure.css";
@import "../../bower_components/pure/grids-responsive.css";
@import "./purecss-tpl";
@import "../../bower_components/angular-ui-grid/ui-grid.css";
@import "../../bower_components/ui-select/dist/select.css";


$main-bg-color: #00C3BF;
$sec-bg-color: #f5f5f5;
$faild-color: #f2dede;
$main-bg-text-color: #FFF;
$header-height: 66px;
$footer-height: 60px;

html, body {
  height: 100%;
}

input[type=text],
input[type=number] {
  &:focus {
    outline: none;
  }
}

.footer {
  height: $footer-height;
}

.modal-bottom-navigation {
  .btn.cancel, .btn.back {
    float: left;
  }
}

.angular-google-map-container {
  height: 400px;
}

.map-canvas {
  z-index: 0;
}

.map-search {
  max-width: 70%;
  margin-top: 10px;
}

.pac-container {
  z-index: 9999;
}

.modal-dialog {
  color: #000;
}

.modal-body {
  &.map-success {
    background-color: $main-bg-color;
  }

  &.map-failed {
    background-color: $faild-color;
  }
}

.loader {
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #fff url(../img/hex-loader.gif) center no-repeat;

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
  }
}

.error-msg {
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
}

.postTaskModal {
  .modal-body {
    min-height: 300px;
  }
}

.home-menu {
  background-color: rgba(0, 195, 191, 0.7);
  li a.facebook-btn {
    background-color: #2E5A94;
    color: #fff;
  }
}

.search-task-home {
  cursor: pointer;

  &:hover {
    background-color: $main-bg-color;
  }
}

.content-wrapper {
  top: 600px;
  &.pages {
    top: $header-height;
  }
}

.grid-user {
  img {
    height:27px;
    margin-right:5px;
    float:left;
  }
}

.my-tasks {
  .upload-one-btn {
    display: inline-block;
    letter-spacing: 0em;
    margin: 0;
    padding: 0;

    a {
      height:30px;
      font-size:60%;
      padding: 5px;
      text-decoration: underline;
    }
  }
}

.taskPostDone {
  background-color: $main-bg-color;
  text-align: center;

  h2 {
    margin-top:100px;
    color: $main-bg-text-color;
  }

  .btn {
    padding: 15px 30px;
    font-size: 130%;
    margin:10px;
  }
}

// .content.page {
//   max-width:1024px;
//   margin:0px auto;
//   position:relative;
// }

#gmap-container {
  position: absolute;
  width:100%;
  height:calc(100% - 62px);
  margin-top:62px;
}

.hp-search-wrapper {
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  top: 500px;
  height: 100px;
  padding: 30px;
  width: 100%;
  text-align: center;

  .search-task-form {
    position: relative;
    margin: 0px auto;
    max-width: 700px;

    &>div {
      float:left;
    }

    .location-input-wrapper {
      display:inline-block;
      width:45%;
      height:40px;
      #gmap-search {
        color:#333;
        width:100%;
        height:100%;
        padding:0px 10px;
        line-height:40px;
        border:0;
        border-right: 1px solid $main-bg-color;
      }
    }


    .ui-select-container {
      display:inline-block;
      width:35%;
      height:40px;
      margin: 0px;
      padding:0;
      border:0;

      .ui-select-match {
          width:100%;
          height:100%;
      }

      .ui-select-toggle {
        height:100%;
        border-radius: 0;
        border:0;
        line-height: 40px;
        padding: 0px 10px;
      }

      .ui-select-search {
        height:100%;
        border-radius: 0;
        border:0;
        line-height: 40px;
        padding:0px 10px;
      }

      .ui-select-choices-row.active>a {
        background-color: $main-bg-color;
      }
    }

    .search-btn-wrapper {
      display:inline-block;
      width: 20%;
      button {
        background-color: $main-bg-color;
        color: #fff;
        border-radius: 0;
        text-transform: uppercase;
        height:40px;
        width: 100%;
      }
    }
  }
}

.content-wrapper.pages.search-results {
  height: calc(100% - #{$header-height});
  .search-bar {
    height:50px;
    overflow: hidden;
    border-bottom:1px solid #dce0e0;

    .address {
      width: 400px;
      display:inline-block;
      float:left;
      padding:10px;
      line-height:30px;
      border-right:1px solid #dce0e0;
      input[type=text] {
        height:30px;
        line-height:30px;
        width:100%;
        border:0;
      }
    }
  }

  .radius {
    display:inline-block;
    float:left;
    padding:10px;
    line-height:30px;
    border-right:1px solid #dce0e0;
    input[type=number] {
      height:30px;
      line-height:30px;
      width:30px;
      border:0;
    }
  }

  .search-grid {
    //height: calc(100% - #{$footer-height});
    height: 100%;
    &.row {
      margin-right:0;
      margin-left:0;
    }

    .list-results {
      height:100%;
      border-right:1px solid #dce0e0;
      padding-right: 0px;
      padding-left: 0px;

      .tasks-list {
        height:calc(100% - 50px);
        padding: 10px;
        background-color: $sec-bg-color;

        .task {
          position: relative;
          margin: 10px;
          padding:10px;
          width: calc(50% - 20px);
          float: left;
          height: 250px;
          background-color: #fff;
          cursor: pointer;

          .task-row {
            //min-height:22px;
            font-size:14px;
            line-height:22px;
            margin-bottom: 5px;
            text-overflow: ellipsis;

            &.description {
              min-height:30px;
              max-height: 110px;

            }

            label {
              float:left;
              font-weight:bold;
              margin: 0;
              margin-right:4px;
            }

            .field-icon {
              height: 20px;
              display: inline-block;
            }

            .price-row {
              position: absolute;
              right: 0px;
              top: 0px;
              width: 70px;
              color: $main-bg-text-color;
              background-color: $main-bg-color;
              font-size: 16px;
              text-align: center;
            }
          }

          .task-bottom {
            height:60px;
            line-height: 40px;
            vertical-align: middle;
            width: 100%;
            border-top: 2px solid $sec-bg-color;
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 10px;
            overflow: hidden;
            text-overflow: ellipsis;

            img {
              height: 100%;
              vertical-align: middle;
              margin-right: 5px;
            }
          }
        }
      }
    }

    .map-results {
      height:100%;
      padding-right: 0px;
      padding-left: 0px;
      .angular-google-map {
        height:100%;
        .angular-google-map-container {
          height:100%;
        }
      }
    }
  }
}

@keyframes example {
  3%  {
    color: $main-bg-text-color;
    background-color: $main-bg-color;
  }
}

.highlight {
  animation-name: example;
  animation-duration: 2s;
}

.labels {
     color: $main-bg-text-color;
     background-color: $main-bg-color;
     font-family: "Arial", sans-serif;
     font-size: 12px;
     text-align: center;
     width: auto;
     min-width: 40px;
     border: 0;
     white-space: nowrap;
     line-height: 14px;
     padding: 2px;
   }

.price {
  .extraData {
    margin-left: 3px;
    font-size: 0.8em;
  }
}

.splash {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: center;
  align-items: center;
  top:62px;
  bottom:100px;

  .how-it-works {
    padding: 10px 40px;
    display: block;
    background: rgba(0, 195, 191, 0.7);
    color:#fff;
    font-size:20px;

    &:hover {
      background: rgba(0, 195, 191, 1);
    }
  }
}

#how-it-works-content {
  height:400px;
  width: 100%;
  position:absolute;
  z-index:1000;
  top:-450px;
  background: rgba(0, 0, 0, 0.8);
  color:#fff;
  padding:30px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;

  &.open {
    top:0px;
  }

  #close-tab {
    position: absolute;
    bottom:-30px;
    left:50%;
    margin-left:-40px;
    height:30px;
    width:80px;
    background: rgba(0, 195, 191, 0.9);
    color:#fff;
    text-align: center;
    cursor:pointer;
  }
}

#mapContainer {
  height: 400px;
}

