@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

.center-block {
  position: relative;
  margin: 0px auto;
}

.justify-float {
  div, .btn {
    &:last-of-type {
      float:right;
    }
  }
}

#app-menu {
  height: 80px;
  border-bottom: 1px solid gray;

  .container {
    height: 100%;

    .row {
      height: 100%;

      &>div {
        height: 100%;
      }

      .logo {
        background-image: url(../img/logo_placeholder.gif);
        background-repeat: no-repeat;
        background-position: left center;
      }

      .menu-wrap {
        position: absolute;
        bottom:0;
      }
    }
  }
}

.container.home {
  padding-top:100px;

  .home-buttons {
    @extend .center-block;
    @extend .justify-float;
    width:200px;
  }
}