@import "../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";

.center-block {
  position: relative;
  margin: 0px auto;
}

.justify-float {
  div, .btn {
    &:last-of-type {
      float:right;
    }
  }
}

#app-menu {
  height: 80px;
  border-bottom: 1px solid gray;

  .container {
    height: 100%;

    .row {
      height: 100%;

      &>div {
        height: 100%;
      }

      .logo {
        background-image: url(../img/logo_placeholder.gif);
        background-repeat: no-repeat;
        background-position: left center;
      }

      .menu-wrap {
        position: absolute;
        bottom:0;
      }
    }
  }
}

.user-top {
  float:right;
  padding-top: 5px;
}

.container.home {
  padding-top:100px;

  .home-buttons {
    @extend .center-block;
    @extend .justify-float;
    width:200px;
  }
}

.modal-bottom-navigation {
  .btn.cancel {
    float:left;
  }
}

.angular-google-map-container { height: 400px; }

.map-canvas {
  z-index: 0;
}

.map-search {
  width: 70%;
  margin-top:10px;
}

.pac-container {
  z-index: 9999;
}
