<div ng-show="ctrl.loading">
    <div class="modal-header">
        <h3 class="modal-title">Please wait...</h3>
    </div>
    <div class="modal-body map-canvas">
        <div class="loader" ng-class="{hidden: !ctrl.loading}"></div>
    </div>
</div>
<div ng-hide="ctrl.loading" class="postTaskModal">
    <div ng-show="ctrl.currentStep === 'provideLocation'">
        <div class="modal-header">
            <h3 class="modal-title">Where is the task?</h3>
        </div>
        <div class="modal-body" ng-class="{'map-success': ctrl.addressCheck, 'map-failed': ctrl.addressCheck === false}">
            <div id="mapContainer"></div>
        </div>
        <div class="modal-footer modal-bottom-navigation">
            <div class="error-msg bg-danger" ng-repeat="err in ctrl.errors">{{err}}</div>
            <button class="btn btn-primary" type="button" ng-click="ctrl.saveLocation()">Next</button>
        </div>
    </div>
    <div ng-show="ctrl.currentStep === 'provideGeneralData'">
        <div class="modal-header">
            <h3 class="modal-title">What is the task?</h3>
        </div>
        <div class="modal-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Field (choose)</label>
                    <div class="col-sm-10">
                      <ui-select ng-model="ctrl.form.field">
                          <ui-select-match>
                              <span ng-bind="$select.selected.name"></span>
                          </ui-select-match>
                          <ui-select-choices repeat="item in (ctrl.fieldsList | filter: $select.search) track by item.id">
                              <span ng-bind="item.name"></span>
                          </ui-select-choices>
                      </ui-select>
                        <p class="help-block">Choose the field that is most similar to your task</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" rows="3" ng-model="ctrl.form.description"></textarea>
                        <p class="help-block">Describe your task in the best ad shortest way u can</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer modal-bottom-navigation">
            <div class="error-msg bg-danger" ng-repeat="err in ctrl.errors">{{err}}</div>
            <button class="btn btn-primary" type="button" ng-click="ctrl.saveGeneralData()">Next</button>
            <button class="btn btn-primary back" type="button" ng-click="ctrl.currentStep = 'provideLocation'">Back</button>
        </div>
    </div>
    <div ng-show="ctrl.currentStep === 'providePricingData'">
        <div class="modal-header">
            <h3 class="modal-title">Pricing</h3>
        </div>
        <div class="modal-body map-canvas">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Calculation by</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="radio" name="pricing.calc" ng-model="ctrl.form.pricing.calc" value="hour"> Hour
                        </label>
                        <label class="checkbox-inline">
                            <input type="radio" name="pricing.calc" ng-model="ctrl.form.pricing.calc" value="pauschal"> Pauschal
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rate</label>
                    <div class="input-group col-sm-3">
                        <div class="input-group-addon">$</div>
                            <input type="number" class="form-control" ng-model="ctrl.form.pricing.rate" placeholder="Amount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Method</label>
                    <div class="col-sm-10">
                        <label class="checkbox-inline">
                            <input type="radio" name="pricing.method" ng-model="ctrl.form.pricing.method" value="paypal"> Paypal
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer modal-bottom-navigation">
            <div class="error-msg bg-danger" ng-repeat="err in ctrl.errors">{{err}}</div>
            <button class="btn btn-info" type="button" ng-click="ctrl.savePricingData()">Post task</button>
            <button class="btn btn-primary back" type="button" ng-click="ctrl.currentStep = 'provideGeneralData'">Back</button>
        </div>
    </div>
    <div ng-show="ctrl.currentStep === 'taskPostDone'">
        <div class="modal-body taskPostDone">
            <h2>Your task posted!</h2>
            <button class="btn btn-success" type="button" ng-click="ctrl.reset()">Post another task</button>
            <button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Close</button>
        </div>
    </div>
</div>
