<div class="content-wrapper pages search-results" ng-init="ctrl.init()">

    <div class="search-bar">
        <div class="address">
          <input type="text" ng-model="ctrl.address" id="mapSearch" >
        </div>
        <div class="radius">
          Search in radius of <input type="number" ng-model="ctrl.radius"> (Km)
        </div>
    </div>
    <div class="search-grid row">
      <div class="list-results col-lg-7 col-md-6">
        left
      </div>
      <div id="mapContainer" class="map-results col-lg-5 col-md-6"></div>
    </div>

    <div ng-include src="'modules/views/footer/footer.tpl.html'"></div>
</div>
